@import "blk-inc.less";

table{
    th.pro,td.state{
        text-align:center;
    }
    td{
        border-bottom:solid 1px lighten(@gray,10%);
    }
    td.state:nth-child(2n){
        background-color:@white;
    }
}
