<link rel="stylesheet" type="text/css" href="/oj/acct.css">

<script type="text/javascript">
    function init(){
    }
</script>

<div class="g-lg-4">
    <h1>{{ acct['name'] }}</h1>
    <h3>Rate: {{ rate }}</h3>
</div>
