<link rel="stylesheet" type="text/css" href="/oj/chal.css">

<script type="text/javascript">
    function init(){
    }
</script>

<div class="g-lg-12 g-r">
    <div id="chal" class="g-lg-2 blk-cont">
        sdfdsf
        <div class="print"></div>
    </div>
    <div id="chal" class="g-lg-2 g-off-lg-2 blk-cont">
        <div class="print"></div>
    </div>
</div>
<div class="g-r"><div class="g-lg-12">
    <pre><code>test</code></pre>
</div>
