{% block head %}{% end %}
<div class="g-lg-2">
    <ul class="nav-stack">
	<li{% if page == 'dash' %} class="active"{% end %}><a href="/oj/manage/dash/">Dashboard</a></li>
	<li{% if page == 'pro' %} class="active"{% end %}><a href="/oj/manage/pro/">Problem</a></li>
	<li{% if page == 'acct' %} class="active"{% end %}><a href="/oj/manage/acct/">Account</a></li>
    </ul>
</div>
<div class="g-lg-10">
{% block content %}{% end %}
</div>
